/*medium or tablet view*/
@media only screen and (min-width: 32.5em) {
    main {
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    section:nth-child(2) {
        display: block;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid rgb(37, 2, 71);
        border-radius: 10px;
    }

}