@media only screen and (min-width: 32.5em)
{
    .article {
        float: left;
        width: 60%;
    }

    .contact {
        float: right;
        width: 30%;
    }
    .hidden {
        display: inherit;
    }
    nav {
        display: flex;
    }
    
    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: flex;
        float: left;
    }

    table, th, td {
        background-color: #696C70;
        color: #E8BE52;
        font-family: 'Source Code Pro', monospace;
        border: 2px solid #3A8356;
        list-style: none;
        text-align: center;
        padding: 1px;
    }
}