@media only screen and (min-width: 65em) {

    h1{
        font-size: 2.75em;
    }
    
    .tagline{
        font-size: 1.75em;
    }
    
    h2{
        font-size: 2.25em;
    }
    
    nav ul a{
        font-size: 1.25em;
    }

    .navigation li:first-child{
        display: none;
    }
    
    .navigation li{
        display: inline-block;
        text-align: center;
    }

    .townstats{
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    main section {
        display: block;
      }

    .townstats section div {
      height: 250px;
    }

    section img{
        width: 80%;
    }

    h5{
        font-size: 26pt;
    }
    #newsarticle p{
        font-size: 16pt;
    }
}