#bannerad h1{
    background-color: #21174f;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    }
    
    header{
        background-color: #c7bee2;
        max-width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        
    }
    
    h1{
        font-family: "Quicksand", sans-serif;
        color: #21174f;
        text-align: center;
        font-size: 1.75em;
        padding-top:10px;
       }
    
    .tagline{
        font-family: "Quicksand", sans-serif;
        color:#21174f;
        align-content: center;
        font-size: 1em;
        padding-bottom: 5px;
    }
    
    .websiteheaders{
        display: flex;
        flex-direction: column;
    }
    
    header img{
        height: 20%;
        width: 20%;
    }
    
    nav {
        background-color: #ADCCC8;
        text-align: center;
        font-family: "EB Garamond", serif;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    nav ul a {
        display: block;
        color: #3A3B38;
        text-align: center;
        padding: .75rem;
        text-decoration: none;
        font-size: 12pt;
        font-weight: bold;
    }
    
    nav ul a:link, nav ul a:visited{
        color: #3A3B38;
    }
    
    nav ul a:hover{
        color: #21174f;
        text-decoration: underline;
    }
    
    nav ul a.active{
        color: #21174f;
        text-decoration: underline;
        background-color: whitesmoke;
    }
    
    .navigation li:first-child{
        display: block;
    }
    
    .navigation li{
        display: none;
    }
    
    .responsive li{
        display: block;
    }
    
    .linktohomepage{
        font-family: "EB Garamond", serif;
        color: #3A3B38;
    }

    body{
        background-color: #d8d8da;
        text-align: center;
        color: #3A3B38;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    h2{
        text-align:center;
        padding-left: 15px;
        text-decoration: underline;
        font-style: italic;
        font-size: 14pt;
    }

    input{
        margin:5px;   
    }

    /*label{
        text-align: right;
        display:inline-block;
        width:150px;
    }*/

   fieldset{
       max-width:50%;
       margin: auto;
       padding: 15px;
       margin-bottom: 30px;
       display: block;
       text-align: left;
       background-color: #c7bee2;
       font-size: 12pt;
       border: 2px #21174f solid;
   }

   legend{
       padding: 10px;
   }

   .nameinput, .emailinput, .phonenumberinput, .zipcodeinput{
       margin-top: 20px;
   }

   p{
       font-size: 10pt;
       color:#21174f;
   }

   .stormseverity{
    display: flex;
    align-items: center;
    margin-top: 20px;
   }

   .dateofstorm, .typeofstorm, .stormregion{
   margin-top: 20px;
   }

  .selection{
      display: grid;
      align-content: center;
      padding-top: 10px;
      margin-top: 10px;
  }

  .submitbutton{
     margin:30px;
     background-color:#ADCCC8;
     padding: 5px;
     font-size: 12pt;
  }

   .thankyou{
    font-size: 20pt;
    padding:25px;
    margin: auto;
    display: block;
   }

    footer{
        background-color: #c7bee2;
        font-family: "Quicksand", sans-serif;
        padding:5px;
    }